{% extends 'base.html.twig' %}

{% block title %}New Publication
{% endblock %}

{% block body %}
	<h1 class="text-center mb-4">Créer une nouvelle Publication</h1>

	{{ include('publication/_form.html.twig') }}

	{# <a href="{{ path('app_publication_index') }}" class="btn btn-primary d-block mx-auto mt-4">Back to List</a> #}
{% endblock %}
