{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
<div class="d-flex flex-column text-center align-items-center mt-">
    <h1 class="text-center mb-4">Réservez votre table dans notre restaurant!</h1>
    <p>Profitez d'un moment agréable seul ou avec votre entourage, vous allez vous régaler avec les mets exquis de nos 4 chefs! </p>
</div>
    {{ include('reservation/_form.html.twig') }}
   
{% endblock %}
