{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Réservez votre table dans notre restaurant!</h1>
    <p>Profitez d'un moment agréable seul ou avec votre entourage, vous allez  </p>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_reservation_index') }}">back to list</a>
{% endblock %}
