{% extends 'base.html.twig' %}

{% block title %}La Carte
{% endblock %}

{% block body %}

	<div class="d-flex flex-column align-items-center">

		<h1 class="mt-5">La Carte</h1>
		<p>Régalez-vous avec les délices de: Chine, Cameroun, Brésil et île Maurice!</p>
		<div class="trait"></div>

		<table class="table-responsive">
			<thead>
				<tr class="p-5">
					<th scope="col">Menu</th>
					<th scope="col">Entrée</th>
					<th scope="col">Prix</th>

				</tr>
			</thead>

			<tbody>
				
					{% for item in entrees %}
						<tr><td>{{item.category }}</td><>
						<tr></tr> <td>{{item.title }}</td>
						<td>{{item.price }}</td>
					{% endfor %}
				
			</tbody>
		</table>

	</div>
{% endblock %}
