{% extends 'base.html.twig' %}

{% block title %}Espace d'abonnement{% endblock %}

{% block body %}
<style>
    
    div{
        text-align:center;
    }
</style>
<div class>

 <h1>La Carte</h1>
    <p>Régalez-vous avec les délices de: Chine, Cameroun, Brésil et île Maurice!</p>
<div class="trait"></div>

</div>
{% endblock %}
